@charset "UTF-8";

/**
 * @author Prénom Nom courriel
 *
 * TABLE DES MATIERES
 * Normalize
 * Utilitaires
 * Charte typographique
 * Grille
 * Mise en page
 *** entête
 *** main
 *** formulaire
 *** interactivité
 *** footer
 */


/* Normalize
   ========================================================================== */
@import url(_normalize.css);

/* Utilitaires
   ========================================================================== */
@import url(_utilitaires.css);

/* Charte typographique
   ========================================================================== */
@import url(_typo.css);

/* Grille
   ========================================================================== */
@import url(_grille.css);

/* Mise en page
   ========================================================================== */
/*** entête
   ========================================================================== */
/* Padding de l'introduction */
h1 {
   padding: 3rem 1rem 0rem 1rem;
}
#intro {
   padding: 1rem 1rem 0 1rem;
}
@media(min-width: 600px) {
   #intro {
      padding: 2rem 1rem 0 1rem;
   }
}
/*** main
   ========================================================================== */
/* Couleur d'arrière plan générale et du main */
body {
   background: rgb(147,201,183);
   background: linear-gradient(180deg, rgba(147,201,183,1) 0%, rgba(185,223,195,1) 50%, rgba(251,255,234,1) 100%);
}
header {
   background-color: white;
}
main {
   background-color: white;
   box-shadow: 10px 10px 20px #555;
   max-width: 1000px;
}
/*** formulaire
   ========================================================================== */
/* Messages d'erreur */
#erreur {
   display: none;
   color: red;
}
#erreur div {
   width: 32px;
   height: 32px;
   display: inline-block;
}
   /* Bien */
   .good {
      background: url(../images/good-warning-error.png) ;
      background-position: 0px 0px;
   }
   .good+p {
      display: none;
      }
   /* Erreur */
   .error {
      background: url(../images/good-warning-error.png) ;
      background-position: 32px 0px;
   }
   /* Avertissement */
   .warning {
      background: url(../images/good-warning-error.png) ;
      background-position: 64px 0px;
   }

/* Couleur d'arrière-plan des sections, paddings et style des bordures */
#contact, 
#concours {
   background-color: lightgray;
   border: 0;
   border-radius: 1rem;
}
#contact h2,
#concours h2 {
   padding-top: 3.5rem;
}
#confirmation {
   border: 0;
}
#nom-complet,
#telephone,
#date,
#question {
   border-radius: 1rem;
   border-width: 0.25rem;
   border-color: black;
}

/* Style de la question du jour */
#monuments {
   list-style: none;
   padding: 0;
}
.item-monuments {
   padding-bottom: 3rem;
}
li .image {
   width: 100%;
}
@media(min-width: 600px) {
   .item-monuments {
      max-width: 32%;
      display: inline-block;
      padding-bottom: 1rem;
      vertical-align: top;
   }
   /* ul {
      align-items: top;
   } */
}

/* Étiquette sur le dessus des inputs, exception pour la confirmation */
input, 
select {
   width: 100%;
}
#confirmation div p input {
   width: auto;
}

/* Style du boutton */
#soumission button {
   background-color: rgba(185,223,195);
   border-radius: 1rem;
   padding: 1rem;
   font-weight: bold;
   border: 1px solid #555;
}

/* Placements des items concernés sur une seule rangée */
   /* Nom */
   #nom-complet p {
      flex-basis: 49%;
   }
   /* Téléphone */
   #telephone p:first-child {
      flex-basis: 30%;
   }
   #telephone p:nth-child(2) {
      flex-basis: 2%;
      padding-top: 2rem;
   }
   #telephone p:nth-child(3) {
      flex-basis: 60%;
   }   
   /* Date */
   #date p {
      flex-basis: 32%;
   }
   #date p input,
   #date p select {
      height: 25px;
   }

/*** interactivité
   ========================================================================== */
/* Interactivité(hover focus selected) des boutons radio de la question du jour */
input[type=radio] + label {
   filter: grayscale(100);
}
input[type=radio]:hover + label,
input[type=radio]:focus + label {
   filter: grayscale(0);
}
input[type=radio]:checked + label {
   display: block;
   filter: grayscale(0);
   padding: 1rem;
   border: 1.5px solid #000;
}
/*** footer
   ========================================================================== */
/* Style du pied de page */
footer {
   text-align: center;
   padding-top: 6rem;
   padding-bottom: 5rem;
   font-weight: bold;
   max-width: 80%;
   margin: auto;
}